* {
margin:0;
padding:0;
}

html {
background:#fbfbfb !important;
}

body {
padding-top:30px;
font-family:sans-serif;
font-size:12px;
}

h1 a {
color:Black;
}

#obal{
width:450px; 
margin-top: 5em;
margin-left: auto; 
margin-right: auto;
text-align:center;
}

#obal h1 {
margin:1em;
}

.loga img {
margin-left:1em;
margin-bottom:1em;
margin-right:1em;
}

.linkform{
margin-left:8px;
font-weight:400;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#fff;
border:1px solid #e5e5e5;
-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-khtml-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
padding:26px 24px 46px;
}

.link a { 
width:auto; 
height:2em;
background-color:#DDD;
margin:0.8em;
padding:1.2em; 
color:black;
display: block; 
text-decoration:none;
-moz-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-webkit-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
-khtml-box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;
box-shadow:rgba(200,200,200,0.7) 0 4px 10px -1px;} 

.link a:hover {
width:auto; 
height:2em;
background:#BBB;
text-decoration:none;
-moz-box-shadow:rgba(128,128,128,0.7) 0 4px 10px -1px;
-webkit-box-shadow:rgba(128,128,128,0.7) 0 4px 10px -1px;
-khtml-box-shadow:rgba(128,128,128,0.7) 0 4px 10px -1px;
box-shadow:rgba(128,128,128,1) 0 4px 10px -1px;
}
