body {  
  background-color: White;
}

div#status_bar {
  background-image: url("img/status_bar.png");
  position: relative;  
  margin: auto;  
  width: 550px;  
  height: 28px;
  text-align: center;
  padding-top: 12px;
}

div#button_bar {
  background-image: url("img/button_bar.png");
  position: relative;
  margin: auto;
  width: 475px;
  height: 28px;
  padding-left: 75px;
  padding-top: 9px;
}

div#display_bar {
  background-image: url("img/button_bar.png");
  position: relative;
  margin: auto;
  width: 550px;
}

div#footer_bar {
  background-image: url("img/footer_bar.png");
  position: relative;
  margin: auto;
  width: 550px;
  height: 50px;
}

.button {
  background-image: url("img/button.png");
  display: block;
  float: left;
  width: 100px;
  height: 20px;
  text-align: center;
}

.button:hover {
  background-image: url("img/button_hover.png");
  display: block;
  float: left;
  width: 100px;
  height: 20px;
  text-align: center;
}

.text_top {
  font-weight: bold;
  color: rgb(10,45,60);
}

.text_other {
  color: rgb(10,45,60);
}
